<div class="container">
    <br />
    <div class="card">
        <div class="card-header">
            <div class="text text-center text-bg-light">
                <strong>
                    Registration Of New User
                </strong>
            </div>
        </div>
        <div class="card-body">
            <form>
                <div class="row" style="margin: 10px;padding: 10px;background-color: aliceblue;">
                    <div class="col-md-4" style="margin: 10px;">
                        <input class="form-control" type="text" placeholder="First Name" />
                    </div>
                    <div class="col-md-4" style="margin: 10px;">
                        <input class="form-control" type="text" placeholder="Last Name" />
                    </div>
                    <div class="col-md-4" style="margin: 10px;">
                        <input class="form-control" type="text" placeholder="User Name" />
                    </div>
                    <div class="col-md-4" style="margin: 10px;">
                        <input class="form-control" type="text" placeholder="Email" />
                    </div>
                    <div class="col-md-4" style="margin: 10px;">
                        <input class="form-control" type="password" placeholder="Password" />
                    </div>
                    <div class="col-md-4" style="margin: 10px;">
                        <input class="form-control" type="password" placeholder="Confirm password" />
                    </div>

                    <div class="text-center">
                        <br /><br />
                        <button class="btn btn-dark btn-sm">
                            Back
                            <i class="fa fa-backward-step"></i>
                        </button>
                        &nbsp;
                        <button class="btn btn-dark btn-sm">
                            Register
                            <i class="fa fa-user"></i>
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>