<div class="container">

    <div>
        <strong>Expense Details</strong>
    </div>
    <div class="row" style="margin: 10px;padding: 10px;background-color: aliceblue;">
        <div class="col-md-4">
            <input type="date" class="form-control" placeholder="From date" />
        </div>
        <div class="col-md-4">
            <input type="date" class="form-control"  placeholder="To Date" />
        </div>
    </div>
    <br>
<table class="table table-bordered table-hover table-responsive">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th *ngFor="let header of colHeaders">
                {{header}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let expenseDetails of expenseDetailsList,let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{expenseDetails['name']}}</td>
            <td>{{expenseDetails['amount']}}</td>
            <td>{{expenseDetails['description']}}</td>
            <td>{{expenseDetails['insert-time']}}</td>
            <td>{{expenseDetails['update-time']}}</td>
            <td>
                <i class="fa fa-pencil" style="cursor: pointer;" (click)="editExpenseDetails(expenseDetails)"></i>
                &nbsp;
                <i class="fa fa-trash-alt" style="cursor: pointer;" (click)="deleteExpenseDetails(expenseDetails)"></i>
            </td>
        </tr>
    </tbody>
</table>

</div>